*{
    margin: 0;
    padding: 0;
}
.head{
    background-color: black;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{  
    width: 15%;
    height: 4vh;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.more{
    width: 40%;
    height: 4vh;
    color: white;
    font-size: 10px;
    display: flex;
    border-right: 1px solid white;
    align-items: center;
}
.del{
    font-size: 10px;
}
.right{
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: end;
}
.right ul{
    width: 35%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    align-items: center;
    margin-right: 2%;
}
.right li{
    padding-left: 10px;
}
.right img{
    width: 30px;
    height: 30px;
}
.im{
    border-right: 1px solid white;
}
.nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.left2{
    width:60%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.allen{
    width: 20%;
    margin-left: 10%;
}
.allen img{
    width: 100%;
    height: 100%;
}
.navbar{
    width: 80%;
}
.navbar ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}
.navbar li{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar li:hover{
    text-decoration: 1px underline brown;
}
.right2{
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.searchim{
    display: flex;
    width: 40%;
    height: 20px;
    border-bottom: 1px solid rgb(15, 14, 14);
}
.ed{
    font-family: Arial, Helvetica, sans-serif;
   width: 44%;
   color: black;
   height: 5vh;
   font-size: 6px;
   background-color: rgb(230, 223, 29);
   margin-right: 5%;
   margin-left: 10%;
   border-radius: 20px;
   padding-bottom: -10px;
   position: relative;
   padding-left: 10px;
}
.adi{
    width: 40%;
    height: 40%;
}
.adi img{
    width: 39%;
    height: 45%;
}
.right li:hover{
    color: rgb(170, 137, 52);
    
}
.ed img{
    width: 20%;
    height: 10%;

}
.ed p{
    position: absolute;
    top: 23px;
    left: 54px;

}
.ed h1{
    position: absolute;
    top: 8px;
    left: 54px;
}
.caro{
    width: 100%;
    height: 80vh;
    background-color: aqua;
    margin-top: 30px;
    background-image: url(./images/caro.gif);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
.knock{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    margin-top:5%;
    font-size: 14px;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.knock h3{
    margin-top: 20px;
    margin-left: 36%;
}
.gif{
    margin-right: 20%;
}
.qr{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 27vh;
    background-color: rgb(209, 199, 128);
}
.content{
    margin-left: 8%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    
}
.content h2{
    font-size: 30px;
    
}
.code ul{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
    font-weight: bold;
    align-items: center;
}
.code li{
    list-style-type: none;
}
.code .cc{
    padding: 5px;
    border: 1px dashed black;
    background-color: rgb(218, 210, 45);
}
.qcode img{
    height: 22vh;
    margin-top: 10px;
}
.qcode p{
    font-size: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.logdiv{
    height: 20vh;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}
.logdiv h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:28px;
    color: rgb(17, 17, 75);
    padding-top: 15px;
    padding-bottom: 13px;
}
.logdiv p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.scroll1{
    width: 100%;
    height: 60vh;
    /* background-color: aqua; */
}
.schead{
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    color: rgb(17, 17, 75);
}
.schead li{
    list-style-type: none;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.schead ul{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}
.card1{
    width: 85%;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    margin-left: 6.5%;
   
    /* overflow-y: hidden; */
}
.card1im{
    position: relative;
    width: 40rem;
    padding: 20px;
}
.p1{
    position: absolute;
    bottom: 11%;
    margin-left:30% ;
    color: rgb(17, 17, 75);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.moonlit{
    width: 83%;
    margin-left: 7.8%;
    height: 60vh;
    background-color: aqua;
    display: flex;
    position: relative;
    margin-top: 5%;
}
.shirt{
    width: 35%;
    height: 60vh;
    background-image: url(./images/shirt.jpeg);
    object-fit: cover;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
}
.allenl{
    width: 65%;
    height: 60vh;
    background-color:white;
}
.allenl img{
    position: absolute;
    right: 0;
}
.box{
    border-radius: 10px;
    width: 48%;
    height: 60%;
    position: absolute;
    background-color:rgb(240, 237, 229);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box h2{
    position: absolute;
    margin-top: 10%;
    left: 27%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.buto{
    position: absolute; 
    margin-top: 20%;
    left: 19%;
    width: 50px; 
}